*{margin:0px;padding:0px;}

body{background-color:#f1f1f1;}

#Musiccontainer{margin:4px auto;max-width:96%;}

.image{opacity:0.7;}

.image:hover{opacity:1.0;}
																			/*nav coding*/

#nav{background-color:#000;display:block;width:100%;position:fixed;top:0px;z-index:3;}

#nav ul{list-style-type:none;}

#nav ul li {display:inline;padding:5px;}

#nav ul li a{border-right:1px solid white;border-radius:5px;display:inline-block;text-decoration:none;padding:10px 22px;color:white;font-family:Tahoma;font-size:20px;}

#nav ul li a:hover{color:#e64805;}			

#nav:after{content="";display:block;clear:both;}


								/* drop down coding */
								
.dropdown{position:relative;display:inline-block;}

.ddcontent{position:absolute;display:none;}

.dropdown:hover .ddcontent {display:block;}

.ddlist{list-style-type:none;background-color:#000;}

.ddlist li {display:block;}

.ddlist li a {display:block;border-top:1px solid white;text-decoration:none;color:white;font-family:Tahoma;font-size:20px;width:130px;}					

.ddlist li a:hover{color:orange;}



									/*section coding*/
						
		
		
#section { max-width=60%;position:relative;top:50px;margin:1%;padding:1%;
			border-right:1px dashed gray;float:left;margin-bottom:90px;}

table{margin:40px;font-family:Tahoma;background-color:#232527;border-radius:10px;}
			
th{border-bottom:1px solid gray;padding:17px;}

.thfont{font-size:15px;color:rgba(255,255,255,0.5);}

td{}

td,tr{padding:20px;color:white;font-family:cailibari;font-size:20px;}
			
.downloadbutton{padding:5px;margin-left:10px;border-radius:4px;}

.downloadbutton:hover{cursor:pointer;padding:7px;}

td:hover {color:#e64805;}

.artist{font-size:15px;font-weight:lighter;font-family:arial;color:rgba(255,255,255,0.5);}									

.downloaddirect{padding: 8px 12px;margin-left:12px;background-color:rgb(221,221,221);font-size:13px;text-decoration:none;border-radius:4px;color:black;height:3px;width:35px;}

.downloaddirect:hover{padding:10px 14px;}

					/*aside coding*/





#aside {max-width:20%;position:relative;top:80px;float:right;margin:1%;padding:1%;}



											/*footer coding*/
  
  
 
#footer{height:300px;width:100%;background-color:#232729;color:white;clear:both;}

		


#contactusfooter{float:left;width:30%;margin:20px 50px;}

#usefullinks{float:left;width:30%;margin:20px 50px;}			

.parafoot{border-bottom: 2px dashed #e64805;font-weight:bolder;font-size:25px;color:#e64805;}

#copyright{clear:both;position:relative;left:900px;top:25px;}
					
					 
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
				/*
.sectionsongslist {height:100%;width:800px;
					margin:30px;
					border:1px solid gray;
					list-style-position:inside;}

.list{padding:25px;
		height:25px;width:750px;
		
		font-size:18px;
		font-family:Tahoma;
		}

.list:hover{color:#e64805;background-color:white;}

.downloadbutton {padding:10px;height:30px;width:90px;margin-left:600px;color:white;background-color:#232729;}

*/				
								